body {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", "Verdana", "Geneva", sans-serif;
  background-color: #eee;
  font-size: 14px;
}

h2 {
  margin-top: 32px;
  font-size: 22px;
}

h3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}

iframe {
    border-style:hidden;
    border:none;
}

#container {
	padding-right: 43px;
}

#page {
  max-width: 1000px;
  margin: 0px auto;
  background-color: #fff;
}

#header {
  padding: 10px;
  border-bottom: 2px solid #D00000;
}

#logo {
	margin-top: 13px;
	margin-left: 14px;
  float:left;
  display: inline-block;
  background: url("../images/raspberry-logo.png") no-repeat;
  height: 100px;
}

#logo_subtext {
    font-size: 16px;
    color: #bb1142
}

#head {
  font-size: 43px;
  left: 100px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 20px;
  font-weight: 700;
  line-height: 30px;
}

ul#menu {
  float: right;
	display: inline-block;
  list-style-type: none;
  color: #D00000;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul#menu li {
	
  display: block;
  height: 40px;
  width: 200px;
  text-align: right;
}

ul.numeric {
  list-style-type: decimal;
}

#main {
  padding: 20px 10px;
  line-height: 20px;
}

#footer {
  text-align: right;
  padding: 10px;
}

#video-top {
  float: right;
  margin-left: 15px;
  margin-bottom: 20px;
}

table.red {
  border-spacing: 0;
  border-collapse: collapse;
}

table.red tr td {
  border: solid 1px #BB1142;
  padding: 3px 5px;
  text-align: left;
}

table.red tr td.noborder {
  border: none;
}

table.full {
  width: 100%;
}

table tr td.center {
  text-align: center;
  width: 100px;
}

table tr td.w200 {
  width: 210px;  
}

table tr td.w300 {
  width: 300px;  
}

table#order tr td {
  height: 50px;
}

table.lslisting tr td {
	padding: 0px 8px 0px 0px;
}

table.lslisting tr.green td {
	color: #bb00bb;
}

.tdw200 {
    width: 200px;
}

.tdw180 {
    width: 180px;
}

.tdw50p {
    width: 50%;
}

.tdw100p {
    width: 100%;
}

.centerimg {
    margin: 0px auto !important;
    display: block;
}

.vtop {
    vertical-align: top;
}

a {
  color: #D00000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.nostyle {
  color: #000;
  text-decoration: none;
}

a.nostyle:hover {
  text-decoration: none;
}

a.pdf {
  background: url("../images/pdf-icon.png") no-repeat;
  padding-left: 20px;
}

.code, pre {
  color: #63DE00;
  font-family: "Andale Mono", monospace;
  background-color: #000;
  padding: 1px 2px;
}

.codeblock {
  background-color: #000000;
  color: #fff;
  font-family: "Andale Mono", monospace;
  padding: 5px;
  
}

.m10 {
  margin: 10px 0px; 
}

.green {
  color: #63DE00;
}

.blue {
  color: #5555ff;
}

.space3 {
  margin-top: 10px;
}

table.gpio {
  border-spacing: 0px;
  margin: 0px auto;
}

table.gpio tr td.col1 {
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;  
}

table.gpio tr td.col2 {
  text-align: right;
  padding-right: 5px;
  padding-left: 10px;
  font-weight: 700;
  width: 20px;   
}

table.gpio tr td.col3 {
  padding-left: 5px;
  padding-right: 10px;
  font-weight: 700;
  width: 20px;
}

table.gpio tr td.col4 {
  padding-left: 10px;
  padding-right: 10px; 
}

table.gpio tr td.revision {
  padding: 15px 0px;
  text-align: center;
}

table.gpio tr td.power {
  background-color: #FF0000;
  color: #fff;
}

table.gpio tr td.power_3V {
  background-color: #FA5858;
  color: #fff;
}

table.gpio tr td.gnd {
  background-color: #000;
  color: #fff;
}

table.gpio tr td.spi {
  background-color: #800080;
  color: #fff;
}

table.gpio tr td.spi {
  background-color: #800080;
  color: #fff;
}

table.gpio tr td.i2c {
  background-color: #2E64FE;
  color: #fff;
}

table.gpio tr td.uart {
  background-color: #FF8000;
  color: #fff;
}

table.gpio tr td.rev1 {
	background-color: #3498db;
	color: #fff;
}

table.gpio tr td.rev2 {
  background-color: #2980b9;
  color: #fff;
}

table.gpio tr td.wpi {
  background-color: #2ecc71;
  color: #fff;
	text-align: center;
	font-weight: 700;
}

table.gpio tr td.topleft {
  border-top-left-radius: 4px;
}

table.gpio tr td.topright {
  border-top-right-radius: 4px;
}

table.gpio tr td.bottomleft {
  border-bottom-left-radius: 4px;
}

table.gpio tr td.bottomright {
  border-bottom-right-radius: 4px;
}

table.gpio tr td.inner {
  width: 30px;
  height: 27px; 
}

table.gpio tr td.left {
  background: url("../images/pinheader.png") no-repeat #5d5d5d;
  background-position: left;  
}

table.gpio tr td.right {
  background: url("../images/pinheader.png") no-repeat #5d5d5d;
  background-position: right;   
}

h2.commenter {
	margin-bottom: 10px;
}

hr {
	color: #D00000;
	background-color: #D00000;
	height: 1px;
}

ul#commenter {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;	
}

ul#commenter li {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #FF7C7C;
}

ul#commenter li.answer {
	margin-left: 40px;
}

ul#commenter li span.head {
	display: block;
	margin-bottom: 5px;
}

ul#commenter li div.post_options {
  display: block;
  margin-top: 5px;
	color: #D00000;
}

ul#commenter li span b.red {
	color: #D00000;
}

ul#commenter li span.options {
	margin-right: 15px;
}

span.white {
	color: #fff;
}

.btn-collapse {
	max-width: 485px;
	text-align: center;
	margin: 10px auto !important;
}
